# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environments =====
venv/
.env/
.env.sdk
ENV/
env/

# ===== VS Code =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Cache =====
.pytest_cache/
.mypy_cache/
